div.dashboard {
	float: right;
	width: 78%;
}
span.dashboard_activity {
	font-size: smaller;
}
div.task.done h3:before {
    content: "\002714\0000a0";
	font-size: 1.4em;
	color: #33CC00;
	text-shadow: -1px 0 #006600, 0 1px #006600, 1px 0 #006600, 0 -1px #006600;
}
div.task.invalid h3:before {
    content: "\00274c\0000a0";
	color: red;
	text-shadow: -1px 0 #660000, 0 1px #660000, 1px 0 #660000, 0 -1px #660000;
}
div.task.routine h3:before {
    content: "\00267b\0000a0";
	font-size: 1.4em;
	color: orange;
	text-shadow: -1px 0 #FF4500, 0 1px #FF4500, 1px 0 #FF4500, 0 -1px #FF4500;
}
div.task.done {
	background-color: #FFCC99;
}
div.task.invalid {
	background-color: Salmon;
}
div.topic div.task {
	padding: 0.5em;
	border-bottom: 1px solid #000000;
}
div.dashboard li {
	list-style: none;
}
div.portion_bar {
	display: block;
	width: 96%;
	margin-bottom: 10px;
}
div.portions {
	display: block;
	width: 100%;
	margin: 0 0 2px;
}
span.portion {
	height: 14px;
	border-left: 1px solid #A9A9A9;
	-moz-box-sizing: border-box;
	display: block;
	float: left;
	padding: 0;
	margin-top: 3px;
	margin-bottom: 0px;
}
span.portion.done {
	background-color: #33CC00;
}
span.portion.skipped {
	background-color: LightGreen;
}
span.portion.open {
	background-color: #D3D3D3;
}
input.touch_button {
    border: 1px solid #FFA500;
    border-radius: 4px 4px 4px 4px;
    font-size: smaller;
}
