{% load l10n %}
{% load humanize %}

<div class="task {% if not challenge.portions.exists %}invalid{% elif challenge.done %}done{% endif %}">
	<input type="hidden" name="task" value="{{ challenge.pk }}" />
	<div class="title">
		<h3><a href="{{ challenge.get_absolute_url }}">{{ challenge.name }}</a></h3>
		<span class="updated" title="{{ challenge.updated_date }}">
			last updated {{ challenge.updated_date|naturaltime }}
		</span>
	</div>
	<span class="taskdescription">{{ challenge.description }}</span>
	<div class="portion_bar">
		<div class="portions">
			{% for p in challenge.portions.all %}
			<span class="portion {{ p.status|lower }}" title="{{ p.description }}" style="width:{{ p.relative_size|unlocalize }}%">
				<input type="hidden" name="portion" value="{{ p.pk }}" />
			</span>
			{% endfor %}
		</div>
	</div>
	<div class="tags">
		{% for tag in challenge.tags.all %}
		<span class="tag"><a name="{{ tag.name }}" href="">{{ tag.name }}</a></span>
		{% endfor %}
	</div>
</div>
