{% load humanize %}

<div class="task routine">
	<input type="hidden" name="task" value="{{ routine.pk }}" />
	<div class="title">
		<h3><a href="{{ routine.get_absolute_url }}">{{ routine.name }}</a></h3>
		<input type="button" class="touch_button" name="touch" value="touch" />
		<span class="updated" title="{{ routine.updated_date }}">
			last updated {{ routine.updated_date|naturaltime }}
		</span>
	</div>
	<span class="taskdescription">{{ routine.description }}</span>
	<div class="efforts_bar">
		{% with latest=routine.efforts.latest %}
			Recent effort
				{{ latest.date|naturaltime }}{% if latest.note %}: "{{ latest.note }}"{% endif %}
		{% endwith %}
		<input type="button" class="enter_effort_button" name="Enter effort" value="Enter effort" />
		<div class="enter_effort_bar">
			<input type="text" name="effort_new" value="" />
			<input type="button" class="submit_effort" name="Submit" value="Submit" />
		</div>
	</div>
	<div class="tags">
		{% for tag in routine.tags.all %}
		<span class="tag"><a name="{{ tag.name }}" href="">{{ tag.name }}</a></span>
		{% endfor %}
	</div>
</div>
