{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "progress/base.css" %}" />
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static "progress/jquery-2.0.3.min.js" %}"></script>
	<script type="text/javascript">
$(function() {
	$('#id_task_type_challenge').click(function() {
		$('#id_bulk_portions_row').show();
	});
	$('#id_task_type_routine').click(function() {
		$('#id_bulk_portions_row').hide();
	});
});
	</script>
{% endblock %}

{% block header %}
<div class="title">
	<h2>Create task</h2>
	<p>Create a new task in topic {{ topic.title }}.</p>
</div>
{% endblock %}

{% block content %}
<div class="mainform">
	<div class="title">
		<h2 title="Created {{ topic.created_date }}">{{ topic.title }}</h2>
		<div class="topic_stats">
			{{ topic_stats.total }} tasks,
			{{ topic_stats.open }} open,
			{{ topic_stats.done }} done
		</div>
	</div>
	<div class="create_form">
		<form method="post">
			{% csrf_token %}
			<table>
				{% for field in taskform %}
				<tr>
					<th>{{ field.label_tag }}:</th>
					<td>{{ field }}{{ field.errors }}</td>
				</tr>
				{% endfor %}
				<tr>
					<td colspan="2">
						<label id="id_task_type_challenge"><input type="radio" name="task_type" value="C" checked="checked"/> Challenge</label>
						<label id="id_task_type_routine"><input type="radio" name="task_type" value="R" /> Routine</label>
					</td>
				</tr>
				<tr id="id_bulk_portions_row">
					<th><label for="id_bulk_portions">Bulk portions:</label></th>
					<td>
						<textarea id="id_bulk_portions" name="bulk_portions" rows="20" cols="80"></textarea>
					</td>
				</tr>
			</table>
			<input type="submit" id="submit_task" value="Create" />
		</form>
	</div>
</div>
<a href="{% url "index" %}">Back</a>
{% endblock %}
